body{
    /* background-image: url("bg.jpg");
    background-size: 100% 100dvh;
    background-repeat: no-repeat; */
    background-color: #dd7373;
    color: #d1d1d1;
    font-family: 'Manrope';
    display: block;
}
.up_block{
    display: flex;
    justify-content: center;
}
.dwn_block{
    position: relative;
    top: 50dvh;
    transform: translateY(-50%);
    width: 80dvw;
    max-width: 1000px;
    height: 30dvw;
    max-height: 500px;
    min-height: 200px;
    background-color: #51a3a3;
    border-radius: 1dvb;
}
h3.name{
    text-align: center;
}
p{
    padding: 0 0 1dvb 1dvb;
}
a{
    color: #d1d1d1;
}
.outercenter{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.links{
    border-radius: 0.3dvb;
    position: absolute;
    bottom: 0;
    background-color: #3b3561;
    margin-bottom: 1dvh;
    padding: 1dvb;
}
.links a{
    text-decoration: none;
    transition: 0.15s linear;
}
.links a:hover{
    font-size: 1.1rem;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.body-particles{
    top: 0;
    z-index: 100;
  }